#registrationForm {
	margin: 0 auto;
	width: 300px;
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 1em;
}

label {
	display: block;
	margin-top: 1em;
}

input {
	width: 100%;
}

button {
	margin-top: 1em;
}